.order-item-card {
  display: flex;
  width: 450px;
  padding: 20px;
  justify-content: space-between;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  background-color: white;
  color: black;
  border-radius: 12px;
  gap: 10%;
}

.order-item-content {
  display: flex;
  flex-direction: column;
}

.order-item-content h1 {
  font-size: 2rem;
  margin: 0;
  font-weight: 100;
}
.order-item-content h2 {
  font-size: 1.3rem;
}

.order-item-btns {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.order-item-btns .delete {
  padding: 13px;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 12px;
  font-size: 1.5rem;
  background-color: white;
  cursor: pointer;
}

.add-sub {
  display: flex;
  flex-direction: row;
  border-radius: 12px;
  gap: 2rem;
  border: 1px solid rgb(235, 235, 235);
  padding: 10px;
}

.add-sub button {
  border: none;
  background-color: white;
  font-size: 1.3rem;
  cursor: pointer;
}

.order-item-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  height: 100%;
}
