#button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Gabarito", "Manrope", "Oswald", sans-serif;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}
.del {
  background-color: rgb(179, 0, 0);
  border: 2px rgb(132, 0, 0) solid;
}

.open {
  padding: 1rem 2rem;
}

.shop {
}

.pay {
}

.facebook {
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 2rem;
  font-size: 24px;
  border-radius: 6px;
  background: var(--gray-93, #eae8ed);
  border: 0;
}

.google {
  text-align: center;
  width: 10px;
  height: 10px;
  padding: 2rem;
  font-size: 24px;
  border-radius: 6px;
  background: var(--gray-93, #eae8ed);
  border: 0;
}
